<h2>User</h2>

<%= @user.email %>

<% if !@user.properties.blank? %>
<h2>Properties</h2>
  <% for property in @user.properties %>
    <h3>Property <%= property.id %></h3>
    <h4>Title</h4>
    <p><%= property.title %></p>
    <h4>Desc</h4>
    <p><%= property.desc %></p>
  <% end %>
<% else %>
  
<% end %> 

<div id="credport-button">
</div>
<script type="text/javascript">
  window.credport = {
    user: {
      email: "<%= @user.email %>"
    },
    buttontext: "We have partnered with Credport to help you build a portable trustworthy profile. Credport increases your chance of a transaction (like a good eBay rating) and lets you bring your reputation anywhere"
  };
  (function() {
      var script = document.createElement('script');
      script.src   = 'https://s3.amazonaws.com/credport-assets/assets/badge.js';
      script.async = true;
      var entry = document.getElementsByTagName('script')[0];
      entry.parentNode.insertBefore(script, entry);
    })();
</script>
